<!DOCTYPE html>
<html>
{% load static %}
  <head>
    <link rel="stylesheet" href="/static/css/style.css" >
  </head>
  <title>Employee</title>
  <body>
    <div class="employee">
      <div class="div">
        <div class="left-navigation">
          <div class="selected"><img class="icon-chart" src="/static/img/home-2-svgrepo-com.svg" /></div>
          <div class="overlap-group"><img class="ellipse" src="/static/img/circled-user-svgrepo-com.svg" /></div>
          <img class="icon-folders" src="/static/img/folder-svgrepo-com.svg" />
          <img class="icon-mail" src="/static/img/mail-open-svgrepo-com.svg" />
        </div>
        <div class="overlap">
          <div class="topbar">
            <a href="/logout"><img class="icon-logout" src="/static/img/logout.png" /></a>
          </div>
          <div class="button-manage">
            <div class="overlap-2">
              <img class="icon-edit" src="/static/img/edit-svgrepo-com.svg" />
              <div class="text-wrapper">Edit Employee</div>
            </div>
          </div>
          <div class="topbar-2">
          
          </div>
        </div>
        <div class="overlap-3">
          <div class="text-wrapper-2">Welcome, {{name}}</div>
        </div>
        <div class="text-wrapper-3">{{designation}}</div>
        <a href='/employee/ask_hr'>
          <div class="active-cases">
            <div class="overlap-4">
              <div class="text-wrapper-4">Ask HR</div>
              <div class="text-wrapper-5">Send your queries</div>
              <img class="img" src="/static/img/askhr.png" />
            </div>
          </div>
        </a>
        <a href='/employee/feedback'>
          <div class="vaccine-administered">
            <div class="overlap-4">
              <div class="text-wrapper-4">Feedback</div>
              <div class="text-wrapper-5">Write a feedback</div>
              <img class="img" src="/static/img/feedback.svg" />
            </div>
          </div>
        </a>
        <a href='/employee/leaverequest'>
          <div class="vaccination-per-day">
            <div class="overlap-4">
              <div class="text-wrapper-4">Apply Leave</div>
              <div class="text-wrapper-5">Apply for a leave request to your Manager</div>
              <img class="img" src="/static/img/leaves.svg" />
            </div>
          </div>
        </a>
        <div class="leaves-card">
          <div class="overlap-5">
            <div class="shadow"></div>
            <div class="base"></div>
            <div id="piechart"></div> 
            <div class="text-wrapper-leaves"><table>
              <tr>
                <th>Leave   </th>
                <th></th>
                <th>Number of leaves</th>
              </tr>
              <tr>
                <td>
                  Sick
                </td>
                <td></td>
                <td>
                  12
                </td>
              </tr>  
              <tr>
                <td>
                  Casual
                </td>
                <td></td>
                <td>
                  5
                </td>
              </tr> 
              <tr>
                <td>
                  Annual  
                </td>
                <td></td>
                <td>
                  5
                </td>
              </tr>             
            </table></div>
              
          </div>
          <div class="section"></div>
        </div>
        <a href='https://fidelityinternational.com/'>
          <div class="overlap-group-wrapper">
            <div class="overlap-4">
              <div class="text-wrapper-4">eTMS</div>
              <div class="text-wrapper-5">Transport Services</div>
              <img class="img" src="/static/img/etms.svg" />
            </div>
          </div>
        </a>
        <a href='/employee/performance'>
          <div class="positivity-rate">
            <div class="overlap-6">
              <div class="text-wrapper-8">Performance</div>
              <div class="text-wrapper-9">Manager's review about your performance</div>
              <img class="ellipse-4" src="/static/img/attendance.svg" />
            </div>
          </div>
        </a>
        <a href='https://www.linkedin.com/learning/'>
          <div class="positivity-rate-2">
            <div class="overlap-6">
              <div class="text-wrapper-8">LL</div>
              <div class="text-wrapper-9">LinkedIn Learning</div>
              <img class="ellipse-4" src="/static/img/feedback.svg" />
            </div>
          </div>
        </a>
        <a href='https://fidelityinternational.com/'>
          <div class="vaccine-administered-2">
            <div class="overlap-4">
              <div class="text-wrapper-4">Source</div>
              <div class="text-wrapper-5">Explore</div>
              <img class="img" src="/static/img/source.svg" />
            </div>
          </div>
        </a>
      </div>
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      // Load google charts
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      
      // Draw the chart and set the chart values
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ['Leave Type', 'Leaves'],
        ['Casual', 5],
        ['Annual', 5],
        ['Sick', 12]  
      ]);
      
        // Optional; add a title and set the width and height of the chart
        var options = {'title':'Leaves', 'width':380, 'height':300};
      
        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
      </script>
  </body>
</html>




