<!DOCTYPE html>
<html>
{% load static %}
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="{% static 'css/styleguide.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
  </head>
  </head>
  <body>
    <div class="HR">
      <div class="div">
        <div class="left-navigation">
          <div class="selected"><img class="icon-chart" src="img/chart.svg" /></div>
          <div class="overlap-group"><img class="ellipse" src="img/ellipse-1.png" /></div>
          <img class="icon-folders" src="img/folders.svg" />
          <img class="icon-settings" src="img/settings.svg" />
          <img class="icon-mail" src="img/mail.svg" />
          <img class="icon-files" src="img/files.svg" />
        </div>
        <div class="overlap">
          <div class="topbar">
            <div class="icon-notifications">
              <div class="ellipse-wrapper"><div class="ellipse-2"></div></div>
              <img class="vector" src="img/vector-10.svg" />
            </div>
            <img class="icon-logout" src="img/logout-2.svg" />
            <div class="search">
              <input class="input" placeholder="Search..." type="text" />
              <img class="icon-search" src="img/search.svg" />
            </div>
          </div>
          <div class="button-manage">
            <div class="overlap-2">
              <img class="icon-edit" src="img/edit.svg" />
              <div class="text-wrapper">Manage Employee</div>
            </div>
          </div>
          <div class="topbar">
            <div class="icon-notifications">
              <div class="div-wrapper"><div class="ellipse-2"></div></div>
              <img class="vector" src="img/vector.svg" />
            </div>
            <img class="icon-logout" src="img/logout.svg" />
            <div class="search-2">
              <input class="input" placeholder="Search..." type="text" />
              <img class="icon-search" src="img/search-2.svg" />
            </div>
          </div>
          <div class="button-manage">
            <div class="overlap-2">
              <img class="icon-edit" src="img/edit-2.svg" />
              <div class="text-wrapper">Manage Employee</div>
            </div>
          </div>
        </div>
        <div class="overlap-3">
          <div class="text-wrapper-2">Welcome, Jose</div>
          <div class="text-wrapper-2">Welcome, Jose</div>
        </div>
        <div class="text-wrapper-3">How you doin?</div>
        <img class="group" src="img/group-191.png" />
        <div class="overlap-4">
          <div class="base"></div>
          <div class="base"></div>
          <div class="text-wrapper-4">Add Employee</div>
          <div class="text-wrapper-5">Send</div>
          <img class="img" src="img/ellipse.png" />
        </div>
        <div class="overlap-5">
          <div class="base"></div>
          <div class="base"></div>
          <div class="text-wrapper-4">Delete Employee</div>
          <div class="text-wrapper-5">Send</div>
          <img class="ellipse-3" src="img/image.png" />
        </div>
        <div class="overlap-6">
          <div class="base"></div>
          <div class="base"></div>
          <div class="text-wrapper-6">Assign-Manager</div>
          <div class="text-wrapper-5">Send</div>
          <img class="img" src="img/ellipse-2.png" />
        </div>
        <div class="REVIEWS">
          <div class="overlap-7">
            <div class="card">
              <div class="overlap-8">
                <div class="bar-CTA">
                  <div class="overlap-group-wrapper">
                    <div class="overlap-group-2">
                      <img class="BG" src="img/BG.svg" />
                      <div class="group-2">
                        <img class="icon-chevron-right" src="img/right.svg" />
                        <div class="SEE-DETAILS">Reply</div>
                      </div>
                      <img class="vector-2" src="img/vector-1.svg" />
                    </div>
                  </div>
                </div>
                <img class="vector-3" src="img/vector-2-2.svg" />
                <div class="lorem-ipsum-dolor">Employee Feedbacks</div>
                <div class="data-center">Messages</div>
                <img class="icon-menu" src="img/menu.svg" />
                <img class="icon-drag" src="img/drag.svg" />
              </div>
            </div>
            <div class="bar-scroll"></div>
            <img class="vector-4" src="img/vector-7.svg" />
            <img class="vector-5" src="img/vector-8.svg" />
            <img class="vector-6" src="img/vector-9.svg" />
            <p class="p">It is over qualified and easy to use, thank you.</p>
            <p class="text-wrapper-7">An improvement is needed asap.</p>
            <div class="text-wrapper-8">Works well!</div>
            <p class="text-wrapper-9">Great service and useful interfaces.</p>
            <div class="text-wrapper-10">20m ago</div>
            <div class="text-wrapper-11">1 day ago</div>
            <div class="text-wrapper-12">1 day ago</div>
            <div class="text-wrapper-13">3 day ago</div>
            <div class="text-wrapper-14">Sally D.</div>
            <div class="text-wrapper-15">Michael K.</div>
            <div class="text-wrapper-16">Deniz T.</div>
            <div class="text-wrapper-17">Melissa</div>
            <div class="group-3">
              <div class="text-wrapper-18">5/5</div>
              <img class="vector-7" src="img/image.svg" />
            </div>
            <div class="group-4">
              <div class="text-wrapper-18">2/5</div>
              <img class="vector-7" src="img/vector-5.svg" />
            </div>
            <div class="group-5">
              <div class="text-wrapper-18">5/5</div>
              <img class="vector-7" src="img/vector-6.svg" />
            </div>
            <div class="group-6">
              <div class="text-wrapper-18">5/5</div>
              <img class="vector-7" src="img/vector-3.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
