<!DOCTYPE html>
<html>
{% load static %}
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="login">
      <div class="div">
        <div class="overlap-group">
          <div class="rectangle"></div>
          <div class="text-wrapper">Email</div>
        </div>
        <div class="overlap"><div class="text-wrapper-2">Employee ID</div></div>
        <div class="div-wrapper"><div class="text-wrapper-3">Password</div></div>
        <div class="overlap-2"><div class="text-wrapper-4">Login</div></div>
        <div class="text-wrapper-5">Forgot Password ?</div>
        <div class="text-wrapper-6">Forgot password?</div>
        <div class="text-wrapper-7">Google</div>
        <img class="vector" src="img/vector-2.svg" />
        <img class="img" src="img/vector-3.svg" />
        <div class="text-wrapper-8">Or sign up with</div>
        <img class="google-logo" src="img/google-logo.svg" />
      </div>
    </div>
  </body>
</html>
