<!DOCTYPE html>
<html>
{% load static %}
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="{% static 'css/styleguide.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
  </head>
  <body>
    <div class="manager">
      <div class="div">
        <div class="left-navigation">
          <div class="selected"><img class="icon-chart" src="img/chart.svg" /></div>
          <div class="overlap-group"><img class="ellipse" src="img/ellipse-1.png" /></div>
          <img class="icon-folders" src="img/folders.svg" />
          <img class="icon-settings" src="img/settings.svg" />
          <img class="icon-mail" src="img/mail.svg" />
          <img class="icon-files" src="img/files.svg" />
        </div>
        <div class="overlap">
          <div class="topbar">
            <div class="icon-notifications">
              <div class="ellipse-wrapper"><div class="ellipse-2"></div></div>
              <img class="vector" src="img/vector.svg" />
            </div>
            <img class="icon-logout" src="img/logout-2.svg" />
            <div class="search">
              <input class="input" placeholder="Search..." type="text" />
              <img class="icon-search" src="img/search.svg" />
            </div>
          </div>
          <div class="button-manage">
            <div class="overlap-2">
              <img class="icon-edit" src="img/edit.svg" />
              <div class="text-wrapper">Manage Employee</div>
            </div>
          </div>
          <div class="topbar">
            <div class="icon-notifications">
              <div class="div-wrapper"><div class="ellipse-2"></div></div>
              <img class="vector" src="img/vector-4.svg" />
            </div>
            <img class="icon-logout" src="img/logout.svg" />
            <div class="search-2">
              <input class="input" placeholder="Search..." type="text" />
              <img class="icon-search" src="img/search-2.svg" />
            </div>
          </div>
          <div class="button-manage">
            <div class="overlap-2">
              <img class="icon-edit" src="img/edit-2.svg" />
              <div class="text-wrapper">Manage Employee</div>
            </div>
          </div>
        </div>
        <div class="overlap-3">
          <div class="text-wrapper-2">Welcome, Jose</div>
          <div class="text-wrapper-2">Welcome, Jose</div>
        </div>
        <div class="overlap-4">
          <div class="text-wrapper-3">Covid Statistics Of Delhi</div>
          <div class="text-wrapper-3">Covid Statistics Of Delhi</div>
        </div>
        <div class="USERS">
          <div class="overlap-5">
            <div class="card">
              <div class="overlap-6">
                <div class="bar-CTA">
                  <div class="group">
                    <div class="overlap-group-2">
                      <img class="BG" src="img/BG-2.svg" />
                      <div class="group-2">
                        <img class="icon-chevron-right" src="img/right.svg" />
                        <div class="SEE-DETAILS">SEE ALL USERS</div>
                      </div>
                      <img class="img" src="img/vector-1-2.svg" />
                    </div>
                  </div>
                </div>
                <img class="vector-2" src="img/vector-2-2.svg" />
                <div class="lorem-ipsum-dolor">Assign Project</div>
                <div class="data-center">Rol Management</div>
                <img class="icon-menu" src="img/menu-2.svg" />
                <img class="icon-drag" src="img/drag-2.svg" />
              </div>
            </div>
            <img class="vector-3" src="img/vector-2-3.svg" />
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
            <div class="ashley-h">Ashley&nbsp;&nbsp;H.</div>
            <div class="text-wrapper-4">Jack E.</div>
            <div class="text-wrapper-5">2019/06/24</div>
            <div class="text-wrapper-6">2019/06/24</div>
            <div class="overlap-wrapper">
              <div class="element-wrapper"><div class="element">Admin</div></div>
            </div>
            <div class="overlap-group-wrapper">
              <div class="overlap-7"><div class="element-2">User</div></div>
            </div>
            <div class="group-3">
              <div class="text-wrapper-7">Manage User Accounts</div>
              <img class="icon-tick" src="img/tick-7.svg" />
            </div>
            <div class="group-4">
              <div class="text-wrapper-7">Manage User Accounts</div>
              <img class="icon-tick" src="img/image.svg" />
            </div>
            <div class="group-5">
              <div class="text-wrapper-8">Edit Company Info</div>
              <img class="icon-tick" src="img/tick-4.svg" />
            </div>
            <div class="group-6">
              <div class="text-wrapper-9">Edit Company Info</div>
              <img class="icon-tick" src="img/tick-6.svg" />
            </div>
            <div class="group-7">
              <div class="text-wrapper-10">See Analytics</div>
              <img class="icon-tick" src="img/tick.svg" />
            </div>
            <div class="group-8">
              <div class="text-wrapper-11">See Analytics</div>
              <img class="icon-tick" src="img/tick-5.svg" />
            </div>
            <div class="group-9">
              <div class="text-wrapper-12">Export Data</div>
              <img class="icon-tick" src="img/tick-2.svg" />
            </div>
            <div class="group-10">
              <div class="text-wrapper-13">Export Data</div>
              <img class="icon-tick" src="img/tick-3.svg" />
            </div>
          </div>
        </div>
        <div class="overlap-8">
          <div class="REVIEWS">
            <div class="overlap-5">
              <div class="card">
                <div class="overlap-9">
                  <div class="bar-CTA">
                    <div class="group">
                      <div class="overlap-group-2">
                        <img class="BG" src="img/BG-4.svg" />
                        <div class="group-11">
                          <img class="icon-chevron-right-2" src="img/right-2.svg" />
                          <div class="SEE-DETAILS">SEE ALL REVIEWS</div>
                        </div>
                        <img class="img" src="img/vector-1.svg" />
                      </div>
                    </div>
                  </div>
                  <img class="vector-2" src="img/vector-2-4.svg" />
                  <div class="lorem-ipsum-dolor">Employee Feedbacks</div>
                  <div class="data-center">Messages</div>
                  <img class="icon-menu" src="img/menu.svg" />
                  <img class="icon-drag" src="img/drag.svg" />
                </div>
              </div>
              <div class="bar-scroll"></div>
              <img class="vector-4" src="img/vector-7-2.svg" />
              <img class="vector-5" src="img/vector-8.svg" />
              <img class="vector-6" src="img/vector-9.svg" />
              <p class="p">It is over qualified and easy to use, thank you.</p>
              <p class="text-wrapper-14">An improvement is needed asap.</p>
              <div class="text-wrapper-15">Works well!</div>
              <p class="text-wrapper-16">Great service and useful interfaces.</p>
              <div class="text-wrapper-17">20m ago</div>
              <div class="text-wrapper-18">1 day ago</div>
              <div class="text-wrapper-19">1 day ago</div>
              <div class="text-wrapper-20">3 day ago</div>
              <div class="text-wrapper-21">Sally D.</div>
              <div class="text-wrapper-22">Michael K.</div>
              <div class="text-wrapper-23">Deniz T.</div>
              <div class="text-wrapper-24">Melissa</div>
              <div class="group-12">
                <div class="text-wrapper-25">5/5</div>
                <img class="vector-7" src="img/vector-3.svg" />
              </div>
              <div class="group-13">
                <div class="text-wrapper-25">2/5</div>
                <img class="vector-7" src="img/vector-2.svg" />
              </div>
              <div class="group-14">
                <div class="text-wrapper-25">5/5</div>
                <img class="vector-7" src="img/vector-6.svg" />
              </div>
              <div class="group-15">
                <div class="text-wrapper-25">5/5</div>
                <img class="vector-7" src="img/vector-7.svg" />
              </div>
            </div>
          </div>
          <div class="vaccination-per-day">
            <div class="overlap-10">
              <div class="text-wrapper-26">Approve Leave</div>
              <div class="text-wrapper-27">Vaccination Per Day</div>
              <img class="ellipse-3" src="img/image.png" />
            </div>
          </div>
          <div class="vaccination-per-day-2">
            <div class="overlap-10">
              <div class="text-wrapper-26">Give Feedbacks</div>
              <div class="text-wrapper-27">Vaccination Per Day</div>
              <img class="ellipse-3" src="img/ellipse.png" />
            </div>
          </div>
        </div>
        <img class="group-16" src="img/group-191.png" />
      </div>
    </div>
  </body>
</html>
