<!DOCTYPE html>
<html>
{% load static %}
  <head>
    <link rel="stylesheet" href="globals.css" />
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="profile">
      <div class="div">
        <div class="left-navigation">
          <div class="selected"><img class="icon-chart" src="/static/img/home-2-svgrepo-com.svg" /></div>
          <div class="overlap-group"><img class="ellipse" src="/static/img/circled-user-svgrepo-com.svg" /></div>
          <img class="icon-folders" src="/static/img/folder-svgrepo-com.svg" />
          <img class="icon-settings" src="/static/img/settings-svgrepo-com.svg" />
          <img class="icon-mail" src="/static/img/mail-open-svgrepo-com.svg" />
          <img class="icon-files" src="/static/img/home-2-svgrepo-com.svg" />
        </div>
        <div class="overlap">
          <div class="topbar">
            <img class="icon-logout" src="https://c.animaapp.com/iSMzYp4r/img/icon-logout-1.svg" />
            <div class="search">
              <input class="input" placeholder="Search..." type="text" />
              <img class="icon-search" src="https://c.animaapp.com/iSMzYp4r/img/icon-search.svg" />
            </div>
          </div>
          <div class="button-manage">
            <div class="overlap-2">
              <img class="icon-edit" src="/static/img/edit-svgrepo-com.svg" />
              <div class="text-wrapper">Manage Employee</div>
            </div>
          </div>

        </div>
        <div class="overlap-3">
  
          <div class="text-wrapper-3">Welcome, Jose</div>
        </div>
        <div class="overlap-4">
          <div class="text-wrapper-4">Hello hello</div>
        </div>
        <div class="full-name-and-bio">
          <img class="ellipse-2" src="/static/img/user-svgrepo-com.svg" />
          <div class="text-wrapper-5">Khusan Akhmedov</div>
          <div class="text-wrapper-6">Web-designer</div>
        </div>
        <div class="text-wrapper-7">Profile</div>
        <div class="button-follow">
          <div class="div-wrapper"><div class="text-wrapper-8">Upload new photo</div></div>
        </div>
        <div class="basic-info-group">
          <div class="rectangle-2"></div>
          <div class="rectangle-3"></div>
          <div class="rectangle-4"></div>
          <div class="rectangle-5"></div>
          <div class="rectangle-6"></div>
          <div class="text-wrapper-9">EMAIL</div>
          <div class="text-wrapper-10">TITTLE</div>
          <div class="text-wrapper-11">FIRST NAME</div>
          <div class="text-wrapper-12">BASIC INFO</div>
          <div class="text-wrapper-13">ABOUT ME</div>
          <div class="text-wrapper-14">LAST NAME</div>
          <div class="overlap-5">
            <div class="text-wrapper-15">CANCEL</div>
            <div class="rectangle-7"></div>
          </div>
          <div class="overlap-6"><div class="text-wrapper-16">SAVE</div></div>
          <div class="rectangle-8"></div>
          <div class="rectangle-9"></div>
        </div>
      </div>
    </div>
  </body>
</html>
